#heading {
    color: red;
}
.logo{
    width: 100px;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.nav_content{
    display: flex;
}
.nav_items{
    margin: 0px 10px;
    list-style: none;
}
.nav_items:hover{
    cursor: pointer;
}
.restaurants_container{
    display: flex;
    flex-wrap: wrap;
}
.restaurant_card{
    display: flex;
    flex-direction: column;
    width: 285px;
    border: 2px solid black;
    margin: 4px;
    overflow: hidden;
}